{% extends "template.html" %}
{% block conteudo %}
    <div class="page-header text-center py-3">
        <h1>{{ foto.nome }}</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-4"">
            <img src="/uploads/foto{{foto.id}}.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-sm-8">
            <p class="h4"><strong>Autor: </strong>{{ foto.autor }}</p>
            <p class="h4"><strong>Ano: </strong>{{ foto.ano }}</p>
        </div>
    </div>
{% endblock %}